@charset "UTF-8";
/*课程安排*/
.plan-attr {
  font-size: 16px;
  margin-bottom: 10px;
}
.plan-table>thead>tr>th {
  background-color: #eab21c;
  color: #fff;
  border-bottom: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.plan-table>tbody>tr>td {
  background-color: #ffefae;
}
.plan-table .td-break {
  text-align: center;
  background-color: #f5f5f5;
}
.keynote-list .keynote-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}
.keynote-list .keynote-avatar {
  float: left;
  margin-right: 20px;
}
.keynote-list .speaker-pos {
  margin-bottom: 10px;
}
.keynote-list .speaker-info h4 {
  font-weight: bold;
  margin-bottom: 12px;
}
.keynote-list .speaker-info p {
  margin-bottom: 6px;
}





